<nav>
<ul>
    <li routerLink="home" routerLinkActive="active" class="big-screen" (click)="close()">Home</li>
    <li routerLink="about" routerLinkActive="active" class="big-screen" (click)="close()">About Me</li>
    <li routerLink="projects"  routerLinkActive="active" class="big-screen"(click)="close()">Projects</li>
    <li routerLink="experiences"  routerLinkActive="active" class="big-screen"(click)="close()">Experience</li>
    <li routerLink="education" routerLinkActive="active" class="big-screen"(click)="close()">Education</li>
   
</ul>
</nav>
<div class="shadow" (click)="toggleHidden()">

</div>
