:host{
width: 100%;
min-height: calc(96vh - 22px);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
max-width:100vw;
padding-bottom: 3%;
}
h1{
    width: fit-content;
    margin:2% auto;
    color:  #252934;
    font-size: 35pt;
    overflow: hidden;
    animation: typing 6s steps(100, end), blink-caret 0.5s step-end infinite alternate;
    white-space: nowrap;
}

#myImg{

    width: 15%;
    border-radius: 50%;
    margin: auto;
    display: block;
   
}


#details{
    display: flex;
    width: 100%; 
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   font-family: sans-serif;
}
#summary{
    font-weight: bold;
    font-size: 10pt;
    text-align: center;
display: flex;
flex-direction: column;align-items: center;justify-content: center;
}
h2{
    font-size: 25pt;
    margin: 1% 0%;
}
i{
    margin-right: 5%;
    
   
}
#skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2%;
    row-gap: 15%;
    width: 30%;
}
.tech{
    padding: 2%;
    background-color: #19222C;
    color: white;
    text-align: center;
    border-radius: 25px;
}
@media only screen and (max-width: 768px){
    :host{
     padding: 0% 5%;
     max-width: 90%;
    }
    #myImg{
        width: 55%;
    }
}