
<h1>About Me</h1>
<img src="../../../assets/myPic.jfif" alt="Sennia Mohamed Picture" id="myImg">
<div id="details">

    <h2>Summary</h2>
    <p id="summary">
       <span id="span1"> Hello, My name is Sennia Mohamed i'm one of the lucky ones to turn my passion into a career</span> 

<span id="span2">In this website, i'm willing to share and showcase my skills and projects with those who are intrested</span>
    </p>

    <h2> Skills</h2>
    <div id="skills">
        <span class="tech" *ngFor="let tech of technologies" ><i [class]="tech._icon"></i>{{tech._name}}</span>
    </div>

</div>

