<div class="show-projects">
    <table>
        <tr>
            <th>N</th>
            <th>Name</th>
            <th>Type</th>
            <th>Technologies</th>
            <th>Edit</th>
            <th>Delete</th>
            
          </tr>
    <tr *ngFor="let project of projects;let i=index">
        <td class="bolder">{{i+1}}</td>
   
        <td>{{project._name}}</td>
        <td>{{project._type}}</td>
        <td><label *ngFor="let technologie of project._technologies" [class]="technologie._icon +' fa-2xl'"></label></td>
        <td><i (click)="edit(project._id)" class="clickable fa-regular fa-pen-to-square "></i></td>
        <td><i (click)="delete(project)" class="clickable fa-solid fa-trash " style="color: #63E6BE;"></i></td>
    </tr>
    </table>
    <div class="Button clickable" [routerLink]="['/admin-panel/projects/addProject']">Add Project</div>
</div>
<!--<div [routerLink]="['/admin-panel/fields/addField']">add Field</div>-->