:host{
    background-color: #252934;
    max-width: 100vw;
    min-height: calc(96vh - 22px);
    max-height: fit-content;
    max-width: 100vw;
    display: block;
    color:  white;
}

@media only screen and (max-width: 768px){
    .line{
        width: 5%;
        
        
    }
    .dot{
        left: calc( 3%);
    }
    :host{
        padding-right: 5%;
        max-width: 95%;
    }
}