<div class="edit-project">
    <h1>Edit a Project </h1>
    <form [formGroup]="editProjectForm" (ngSubmit)="editProject()">
      <div><label for="">Name</label> <input type="text" formControlName="ProjectName"></div> 
      <div>  <label for="">The link for the code</label>  <input type="text" formControlName="codeURL"></div> 
      <div>  <label for="">The link for the demo</label>    <input type="text" formControlName="demoURL"></div> 
      <div>    <label for="">Fields</label>
       <select formControlName="Fields">
        <option value=""   hidden></option>
        <option *ngFor="let field of fields" [ngValue]="field">{{field._fieldName}}</option>
            
       </select>
       <button style="width: 15%; aspect-ratio: 2.5;" (click)="addField()" type="button"> add</button></div> 
       
       <div *ngFor="let field of getFields()"  style="width: unset; padding: 5px; background-color: rgb(223, 223, 228); margin-right: 5px;margin: 5px; display: inline-block;">
        <i (click)="removeField(field)" class="fa-solid fa-x fa-xs" style="color: #ffffff; cursor: pointer;"></i>
        <label style=" margin-left:3% ;width: fit-content;">{{field._fieldName}}</label>
    </div>  
     
      <div><label for="">Technologies</label>
       <select formControlName="Technologies">
        <option value=""  hidden ></option>
  <option *ngFor="let technologie of techs" [ngValue]="technologie">{{technologie._name}}</option>
        
       </select>
     <button style="width: 15%; aspect-ratio: 2.5;" (click)="addTech()" type="button"> add</button></div> 

       <div *ngFor="let technologie of getTechs()" style="width: unset; padding: 5px; background-color: rgb(223, 223, 228); margin-right: 5px;margin: 5px; display: inline-block;">
        <i (click)="removeTech(technologie)"  class="fa-solid fa-x fa-xs" style="color: #ffffff; cursor: pointer;"></i>
        <label style=" margin-left:3% ;width: fit-content;">{{technologie._name}}</label>

       </div>
       
       <div>
       <label class="checkbox  ">Experience project</label>
       <select formControlName="Experience" *ngIf="ExperienceProject">
        
        <option *ngFor="let experience of experiences" [ngValue]="experience">{{experience._role+" at "+experience._company}}</option>
            
       </select>
       <input (click)="toggleExperienceProject()" [checked]="ExperienceProject" class="checkbox" type="checkbox">
      </div> 
      
       <!--<label  for="">End Date</label>  <input  type="date" formControlName="endDate"><label class="checkbox  ">still going</label><input (click)="toggleStillGoing()" class="checkbox" type="checkbox">-->
       <div>
       <label for="">Descripition</label>  <br><br> <textarea  formControlName="Descripition" id="" cols="30" rows="10"></textarea>
      </div>
      <div class="custom-file-upload">
        
       <input id="fileInput" type="file" (change)="onFileSelected($event)" style="opacity: 0;">
       <div class="button">Choose File</div>
      </div>
     <div>
        
        <input  type="submit" value="Edit" >
      </div>
    </form>
    <div id="imagesContainer">
   <div class="imageContainer" *ngFor="let image of getImages()">
        <i class="fa-solid fa-x fa-l delete-image" style="color: #e90101;" (click)="removeImage(image)"></i>
        <img [src]="image" alt="" >
      </div>
    
  </div>
</div>