:host{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    
}
.active{
    color: #E31B6D;
}
nav{
    background-color: #19222C;
    width: 100%;
    color: white;
    font-size: 14pt;
    padding: 10px 0px;
    height: 4vh;
    border-bottom: 2px solid rgb(34, 142, 142);
}
li:hover{
    color: #E31B6D;
    transition: 0.3s ease-in-out;
}
ul{
    list-style-type: none;
    display: flex;
    font-family: sans-serif;
    
    
}
li{
    margin-left: 2%;
    cursor: pointer;
}