:host{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    
}
.active{
    color: #E31B6D;
}
nav{
    background-color: #19222C;
    width: 100%;
    color: white;
    font-size: 14pt;
    padding: 10px 0px;
    height: 4vh;
    border-bottom: 2px solid rgb(34, 142, 142);
    display: flex; 
    justify-content: space-between;
}
li:hover{
    color: #E31B6D;
    transition: 0.3s ease-in-out;
}
#login{
    display: inline-block;
    margin-right: 3%;
    color: #E31B6D;
    cursor: pointer;
}
#login:hover{
color: white;
}
ul{
    list-style-type: none;
    display: flex;
    font-family: sans-serif;
    width: 80%;
    
    
}
li{
    margin-left: 2%;
    cursor: pointer;
}
.small-screen{display: none;}
@media only screen and (max-width: 768px){
    .small-screen{margin-left:5%;display: block;}
    .big-screen{display: none;}
}