<nav>
<ul>
    <li routerLink="home" routerLinkActive="active" class="big-screen">Home</li>
    <li routerLink="about" routerLinkActive="active" class="big-screen">About Me</li>
    <li routerLink="projects"  routerLinkActive="active" class="big-screen">Projects</li>
    <li routerLink="experiences"  routerLinkActive="active" class="big-screen">Experience</li>
    <li routerLink="education" routerLinkActive="active" class="big-screen">Education</li>
    <li (click)="toggelHidden()"><i class="fa-solid fa-bars small-screen"></i></li>
</ul>
</nav>
